asgiref==3.7.2
crispy_bootstrap5==0.6
django_bootstrap5==23.4
django_crispy_forms==2.1
django_environ==0.11.2
django_makemessages_xgettext==0.1.1
django_user_app==0.0.6
Django==5.0.2
pillow==10.2.0
psycopg2==2.9.9
sqlparse==0.4.4
tzdata==2024.1
weasyprint==61.0
